# If you are using PyCharm #
# User-specific stuff
.idea/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# celery
celerybeat-schedule.*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/


.pg_service.conf
.my_pgpass