<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block css %} {% endblock %}
</head>
<body>
    <a href="{% url 'board:index' %}"><b>index </b>|</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'users:profile' user.pk %}"><b>{{ user.username }} </b>|</a>

        <a href="{% url 'board:add_post' %}"><b>add post</b> |</a>
        <a href="{% url 'board:add_event' %}"><b>add event</b> |</a>
        <a href="{% url 'users:user_logout' %}"><b> logout</b></a>
    {% else %}
        <a href="{% url 'users:add_user' %}"><b>registration</b></a> | <a href="{% url 'users:user_login' %}"><b>login</b></a>
    {% endif %}
    <br><br>


    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>