{% extends 'board/base_t.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'board/css/index.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
    {% for post in object_list %}
        <br>{{ post.time_create }} - {{ post.author }} -
        <a href="{% url 'board:detail_post' post.pk %}">{{ post.title }}</a>
{#        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>#}
        {% if user.id == post.author_id %}
            <a href="{% url 'board:delete_post' post.pk %}">[ delete ]</a>
            <a href="{% url 'board:update_post' post.pk %}">[ update ]</a>

        {% endif %}
        <br>{{ post.content }}
        <br><br>
    {% endfor %}


    {% if is_paginated %}
            <nav aria-label="Page navigation example">

                    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                        <a class="page-link"
                           href="{% if page_obj.has_previous %}{% url 'board:paginator' page_obj.previous_page_number %}{% else %} # {% endif %}"
                           tabindex="-1" aria-disabled="true">Previous</a>
                    {% for page in paginator.page_range %}
                    <a class="page-link" href="{% url 'board:paginator' page %}">{{ page }}</a>
                    {% endfor %}
                    {% if not page_obj.has_next %} disabled {% endif %}
                        <a class="page-link"
                           href="{% if page_obj.has_next %}{% url 'board:paginator' page_obj.next_page_number %}
                    {% else %} # {% endif %}">Next</a>

            </nav>
        {% endif %}


{% endblock %}
        </div>


{% block footer %}{% endblock %}







